#adminBody, #adminMainBox, #udMainBox{ /*전체 사이즈로 맞춤*/
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /*인터넷 창에서 스크롤 바를 자동으로 생기지 않게 하는것!*/
}
#adminMainBox{ 
    background-color: rgba(76, 126, 65, 1); /*배경 색 설정(이표시법으로 쓰는 이유는 마지막 숫자 1일 투명도를 설정할 수 있기 때문임!)*/
}
#adminLeftBox, #adminRightBox{
    float: left;
}

/*왼쪽 메뉴바 css*/
#adminLeftBox{ /*메뉴바가 들어있는 박스의 크기 조절하는 곳*/
    position: relative;
    width: 70px;
    height: 100%;
}

/*메뉴바 위치 및 세부 css*/
#adminMenuBox{
    width: 100%;
    margin-top: 190px;
}
#adminMenuBox li{
    width: 100%;
    margin-bottom: 50px;
}
#adminMenuBox button, #adminLogoutButton{
    width: 100%;
    text-align: center;
    background-color: transparent; /*배경 색 투명*/
    border: none;
    border-radius: 0px;
}
#adminMenuBox img{
    width: 29px;
    height: auto;
    border-radius: 0px;
    margin: 0 auto;
}
#adminMenuBox >li:nth-child(3)>button>img{
    width: 40px;
}
#adminLogoutButton{
    position: absolute;
    bottom: 3%;
    left: 1%;
}
#adminLogoutButton > img{
    width:21px;
    height: auto;
}


/*오른쪽 컨텐츠 박스 css*/
#adminRightBox{ /*컨텐츠가 들어있는 박스의 크기 조절하는 곳*/
    width: calc(100% - 70px);
    height: 100%;
    border-radius: 20px;
    padding: 30px 40px 40px 50px;
    background-color: rgba(248, 248, 248, 1);
}
#adminRightCon{
    width: 100%;
    height: 93%;
}
/*adminRightBox header 관련 css*/
#adminRightBox header{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.adminLogo{/*로고 사이즈 설정*/
    width: 134px;
    height: 30px;
    border-radius: 0px; /*기본적으로 모든 이미지, div 태그에 전부 border-radius가 적용되어 있음! */
}
#adminRightBox header > span:not(:last-child){
    width: 326px;
    height: auto;
    font-size: 35px;
    margin-left: 2%;
}
#adminRightBox header > span:last-child {
    position: absolute;
    right: 0px;
    height: 45px;
    display: flex;
    align-items: center;
}
#adminRightBox header > span > input{
    height: 45px;
    line-height: 45px;
    width: 400px;
    padding-left: 55px;
    border: #f1f1f1;
    background-color: #fff;
    background-image: url('../assets/search.png');
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: 5% center;
    box-sizing: border-box;
}
#adminRightBox header > span > input{
    outline: none;
}
#homeBtn{
    width:45px;
    height: 45px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    line-height: 10px;
    text-align: center;
    margin: 0 2%;
}
#messageBtn{
    width: 120px;
}

/*모달창*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    position: relative;
    width: 50vw;
    height: 60vh;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto;
}
.modal-content button{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

/*대시보드 css*/

#boardMainPage{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#boardConUp, #boardConDL, #boardConDRU, #boardConDRD{
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
#boardConUp{
    height: 50px;
    margin-bottom: 15px;
}
#boardConDown{
    height: calc(100% - 65px);
    display: flex;
}
#boardConDL{
    height: 100%;
    flex: 1;
    margin-right: 15px;
}
#boardConDL select{
    float: right;
    margin-bottom: 20px;
}
.pieContainer{
    width: 100%;
    max-height: 630px; /* 높이 자동 조절 */
    aspect-ratio: 1 / 1; /* 정사각형 유지 */
    display: flex;
    justify-content: center;
    align-items: center;
}
#boardConDR{
    height: 100%;
    flex: 1;
}
#boardConDRU, #boardConDRD{
    height: 49%;
}
#boardConDRU{
    margin-bottom: 15px;
}
#boardConDRU div {
    width: 70%;
    margin: 0 auto;
}
/* 차트 컨테이너 스타일 */
.chart-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 차트 박스 */
.chart-box {
    width: 60%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/*병해충 도감 css*/
#pastMainBox{
    width: 100%;
    height: 100%;
}
#pastConBoxL, #pastConBoxR{
    height: 100%;
    float:left;
    background-color: #fff;
    padding: 40px;
}

#pastConBoxL{
    width: 340px;
    margin-right: 40px; 
}
#pastConBoxL p {
    width: 133px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border: 1px solid #f1f1f1;
    background-color: #999; /* 기본 배경색 */
    margin-bottom: 20px;
}
#pastConBoxL ul {
    margin-bottom: 65px;
}
#pastConBoxL li {
    padding: 15px;
    cursor: pointer;
}

#pastConBoxL ul li.bold {
    background-image: url('../assets/right_arrow_black.png');
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: 80% center;
}
.active {
    background-color: rgba(76, 126, 65, 1) !important; /* 클릭 시 초록색으로 변경 */
}
#pastConBoxL input {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0px;
}
#pastConBoxL input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    float: left;
}
#pastConBoxL button {
    float: right;
}

#pastConBoxR{
    width: calc(100% - 380px);
}
#pastConBoxR .scroll{
    width: 100%;
    height: 100%;
}

/*CropList*/
#clMainBox{
    width: 100%;
    height: 100%;
}
#clConBoxL, #clConBoxR{
    float: left;
}
#clConBoxL{
    width: 220px;
    height: 100%;
    text-align: center;
    padding: 10px;
}
#clConBoxL img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#clConBoxL .sBtn:nth-child(3){
    margin-top: 20px;
}
.mousePointer{
    float: left;
    width: 220px;
    height: auto;
    text-align: center;
    margin: 0 20px 20px 0;
}
.mousePointer img{
    width: 100%;
    height: auto;
}
.mousePointer:hover{
    cursor: pointer;
}
#clConBoxR {
    width: calc(100% - 220px);
    height: 100%;
    padding: 30px;
}
#clConBoxR .clSTitle{
    color: #999;
    border-color: #999;
}
.clConBoxD{
    height: 49%;
}
.clConBoxD > div{
    height: 210px;
}
.clConS{
    height: 70px;
    padding: 10px 10px;
    margin: 15px 10px;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0px;
}
.clConS > p:first-of-type{
    font-size: 14px;
    margin-bottom: 5px;
}
.clConS > p:last-of-type{
    font-size: 18px;
}
.clConBoxD img{
    width: 7px;
    margin: 0 1%;
}
.clConBoxD .sBtn{
    float: right;
}

/*병해충 AI 검색 CSS*/
#pmMainBox{
    width:100%;
    height: 100%;
    background-color: #fff;
}
.pmConBox{
    width: 100%;
    height: 100%;
    padding:30px;
}
.pmConBoxR,.pmConBoxL{
    float:left;
}
.pmConBoxR{
    width: calc(100% - 233px);
    height: 100%;
    
}
.pmConChatR, .pmConChat{
    width: 100%;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}
.pmConChatR{ /*대화창*/
    height: calc(100% - 100px);
    padding: 20px;
}

.pmConChatR .pmClova, .pmConChatR .pmAnser{
    width: 80%;
    padding: 20px 30px 20px 30px;
    margin-bottom: 30px;
}
.pmConChatR .pmClova{
    padding-left: 70px;
    background-color: #fff;
    background-image: url(../assets/omClova.png);
    background-repeat: no-repeat;
    background-position: left 10px top 10px;
}
.pmConChatR .pmAnser{
    margin-left:20%;
    background-color: #d9d9d9;
}

.chatMessage { 
    background-color: #fff;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.chatMessage p {
    margin: 0;
    font-size: 14px;
}

.chatMessage span {
    font-size: 12px;
    color: #888;
    display: block;
    text-align: right;
}
.pmConChat{ /*입력창 기본*/
    position: relative;
    height: 80px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.pmConChat input {
    flex: 1;
    padding: 10px 10px 10px 30px;
    border-radius: 20px;
    background-color: #f1f1f1;
    border: none;
}
.pmConChat input:focus {
    outline: none;
    border: 1px solid #dedede;
}
.pmConChat > .sBtn{ /*버튼 세부 위치 조정*/
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
.pmConBoxL{
    position: relative;
    width: 203px;
    height: 100%;
    margin-left: 30px;
    padding-top: 50px;
}
.pmConBoxL >p{
    font-size: 20px;
    margin-bottom: 30px;
}
.pmConBoxL >ul{
    width: 100%;
}
.pmConBoxL >ul>li{
    width: 100%;
    height: 70px;
    border-bottom: 1px dashed #d1d1d1;
    border-radius: 0px;
}
.pmConBoxL >ul>li>p:first-child{
    width: 203px;
    font-size: 16px;
    color:#555;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 말 줄임 */
    padding: 12px;
    border-radius: 0px;
}
.pmConBoxL >ul>li>p:last-child{
    width: 100%;
    font-size: 12px;
    color:#999;
    text-align: right;
}

.pmConBoxL > .sBtn{ /*버튼 세부 위치 조정*/
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}

.sBtn, .clSTitle{ /*공통 버튼 디자인*/
    width: fit-content;
    height: 40px;
    padding: 10px 25px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    color: #999;
}
.sBtn:hover, .sBtn.bdactive, .clChose{ /*공통 버튼 디자인 (마우스 올렸을 때) */
    background-color: #fff;
    border: 1px solid #999;
    color: #555;
}

/*사용자 관리 CSS*/
#umMainBox{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding:40px 35px;
}
#umConBox{
    width: 100%;
    height: 100%;
}
#umConBoxL, #umConBoxR{
    float: left;
}
#umConBoxL{
    width: 15%;
    height: 100%;
    padding-top: 9%;
    text-align: center;
}
#umConBoxL select{
    width: 137px;
    height: 30px;
    font-size: 16px ;
    text-align: center;
    margin-bottom: 20%;
}
#umConBoxR{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
}
#umConBoxR ul{
    background-color: rgba(248, 248, 248, 1);
}
#umConBoxR li{
    background-color: transparent; /* 기본 배경 */
    transition: background-color 0.3s ease-in-out; /* 부드러운 색상 변화 */
    cursor: pointer;
}
#umConBoxR li:hover, #umConBoxR li.active{
    background-color: #fff;
    
}
#umConBoxR p{
    display: flex;
    width: 100%;
}
#umConBoxR > p > span, #umConBoxR > ul>li>p > span{
    display: inline-block;
    text-align: center;
    padding: 10px;
}
#umConBoxR > p {
    width: 99%;
    margin-left: 1%;
    font-size: 20px;
    padding-bottom: 5%;
}
#umConBoxR > p > span:nth-child(1), #umConBoxR > ul>li>p > span:nth-child(1) { /* 1번 항목 줄이기 */
    flex: 0.5; 
} 
#umConBoxR > p > span:nth-child(4), #umConBoxR > ul>li>p > span:nth-child(4) {/* 3번 항목 늘리기 */
     flex: 2; 
} 
#umConBoxR > p > span:not(:nth-child(1)):not(:nth-child(4)) , #umConBoxR > ul>li>p > span:not(:nth-child(1)):not(:nth-child(4)){ /* 나머지 동일 크기 */
     flex: 1; 
}
.umToggle{
    width: 90%;
    margin-left: 10%;
}
/*사용자 관리 세부 내역*/
#udMainBox{
    border-radius: 0px;
}
#udConBoxL, #udConBoxR{
    float: left;
}
#udConBoxL{
    width: 70%;
}
#udConBoxL p {
    width: 100%;
    font-size: 14px;
}

#udConBoxL p span {
    width: 25%;
    text-align: center;
    padding: 5px;
    border-radius: 0px;
}
#udConBoxL p:last-child span:last-child {
    width: 75%;
    text-align: left;
    padding-left: 3%;
}
#udConBoxL p span:nth-child(2n){
    border-bottom: 1px solid #ededed;
}
#udConBoxR{
    width: 30%;
}
#udConBoxR >div {
    width: fit-content;
    margin: 0 auto;
}
#udConBoxR .sBtn{
    height: 25px;
    font-size: 12px;
}
#udConBoxR .sBtn:first-child{
    width: 200px;
    margin-bottom: 2%;
}


/*스크롤 공통 CSS*/
.scroll{
    overflow-y: auto;
    scrollbar-gutter : stable both-edges;
}
.scroll::-webkit-scrollbar{
    width: 15px;
}
.scroll::-webkit-scrollbar-thumb{/*스크롤 디자인 수정*/
    background-color: rgba(255, 255, 255, 1);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
}
.scroll::-webkit-scrollbar-track{/*스크롤 디자인 수정*/
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px;
}