@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 700;
    src: url('../font/GMARKETSANSTTFBOLD.TTF') format('truetype');
}
@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 500;
    src: url('../font/GMARKETSANSTTFMEDIUM.TTF') format('truetype');
}
@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 300;
    src: url('../font/GMARKETSANSTTFLIGHT.TTF') format('truetype');
}

*{
    font-family: 'GmarketSans';
    font-weight: 500;
    padding:0px;
    margin:0px;
    color:#333;
    box-sizing: border-box;
    border-radius: 20px;
}

#body{
    position: relative;
    width:100vw;
    height: 100vh;
    overflow: hidden;
    border-radius: 0px;
}

ul{
    width: 100%;
    list-style: none;
}

h2, h3{
    text-align: center;
    margin-bottom:40px;
}

h2{
    font-size: 26px;
}

h3{
    font-size: 24px;
}

h3 > span{
    font-size: 16px;
}

button{
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 14px;
    line-height: 0%;
}

button:hover{
    background-color: rgba(85, 85, 85, 1);
    color: #f1f1f1;
    cursor: pointer;
}

form{
    display: inline-block;
    width: 100%;
}

.button01{
    display: block;
    width: 116px;
    height: 35px;
    margin: 30px auto;
}

/*select*/
select{
    padding: 2% 9% 2% 4%;
    margin-right: 0px;
    margin-right: 5%;
    appearance: none;
    color: rgba(153, 153, 153, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(241, 241, 241, 1);
    background-image: url('../assets/down_arrow_gray01.png');
    background-repeat: no-repeat;
    background-position: 95% center;
}
select:last-child{
    margin-right: 0;
}
select:hover{
    color: rgba(85, 85, 85, 1);
    border: 1px solid rgba(153, 153, 153, 1);
    background-image: url('../assets/down_arrow_gray02.png');
}
select:focus{
    box-shadow: 0 0 1px 1px rgba(85, 85, 85, 1);
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    outline: none;
    color: rgba(85, 85, 85, 1);
    background-image: url('../assets/down_arrow_gray02.png');
}

/*배경 이미지*/

.bgimgFarmer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 354px;
    z-index: -100;
    border-radius: 0px;
}

.bgimgAppleM{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 591px;
    border-radius: 0px;
    z-index: -100;
}

/*로딩 gif 이미지*/
.loadingImg{
    width: 20%;
    height: auto;
    margin: 50% auto;
}