#jipBody{
    width: 100vw;
    max-width: 1440px;
    height: 100vh;
    max-height: 1024px;
    position:relative;
    margin: auto;
}
#jipMainBox{
    width: 619px;
    /* overflow: hidden; */
    margin: auto;
    padding-top: 240px;
    border-radius: 0px;
}
.jipRightBox{
    width:300px;
    height:670px;
    background-color: rgba(233, 233, 233, 1);
    padding: 60px 30px;
    float: right;
}
.jipleftBox{
    width:300px;
    height:670px;
    float: left;
    padding: 60px 30px;
    background-color: rgba(253, 253, 253, 1);
}
.jipleftBox > ul{
    list-style: none;
}
.jipleftBox > ul > li{
    height: 20px;
    margin-bottom: 40px;
}
.jipleftBox > ul > li > button{
    font-size: 20px;
    color: #555;
}
.jipleftBox > ul > li > button:hover{
    font-size: 22px;
    font-weight: 700;
    color: #333;
    background-color: white;
}

/*회원가입 조절 박스*/

#joinBox > h2, #pwFBox > h2{
    font-size: 26px;
    text-align: center;
    margin-bottom:40px;
}
.joinText{
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.joinText{
    list-style: none;
}

.joinText > li{
    width: 198px;
    margin-bottom:25px;
}

.joinText > li:last-child{
    margin-bottom:0px;
}

.joinText > li > p{
    font-weight: 300;
    font-size: 12px;
}

.joinText > li > p > b{
    font-weight: 500;
}
.jipInput{
    width: 198px;
    font-size: 10px;
    color: rgba(209, 209, 209, 1);
    border: none;
    border-bottom: 0.5px solid rgba(209, 209, 209, 1);
    border-radius: 0px;
}

.jipLiLast{
    margin-top: 170%;
}

/*배경 이미지 투명도 조절*/

.bgimgFarmer ,.bgimgAppleM{
    opacity: 60%;
}