#userBody{
    width: 100vw;
    height: 100vh;
    display: inline-block;
    border-radius: 0px;
}
#userMainBox{
    width: fit-content;
    margin: auto;
    padding-top: 86px;
}
#userLeftBox, #userRightBox{
    width: 393px;
    height: 852px;
    float: left;
}

/*메뉴박스 */
#userLeftBox{
    display: block;
    border: 1px solid rgba(248, 248, 248, 1);
    padding: 13% 8%;
}
.bgArrowImg{
    width: 100%;
    height: 22px;
    margin-bottom: 9px;
    color: #333;
}
.bgArrowImg > button{
    width: 100%;
    height: 22px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    background-color: transparent;
}

.bgArrowImg > button:hover{
    font-weight: 700;
    font-size: 22px;
    color: #333;
    background-color: transparent;
}

.bgArrowImgHover{
    background-image: url("../assets/right_arrow_black.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 13px auto;
}

.togle{
    padding-left: 8% ;
}

/*컨텐츠박스*/
#userRightBox{
    background-color: rgba(248, 248, 248, 1);
}
/*병해충 진단 Diagnosis*/
#diMainBox, #fpMainBox{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top:80px;
    text-align: center;
}

.diTitle{
    margin-bottom: 20%;
}

.diTitle > img{
    width: 223px;
    height: 50px;
    border-radius: 0px;
}
.diTitle > p{
    font-size: 20px;
    margin-top: 13px;
}
.userButton{
    width: 268px;
    height: 100px;
    background-color: rgba(76, 126, 65, 1);
    margin-bottom: 37px;
}
.userButton:last-child{
    margin-bottom: 0px;
}
.userButton:hover{
    background-color: rgba(76, 126, 65, 1);
    box-shadow: 10%;
}
.userButton h2{
    font-weight: 700;
    color: white;
    box-sizing: content-box;
    margin: 3% 0px 12% 0px;
}
.userButton p{
    font-weight: 500;
    color: white;
}
.userButton .active{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    text-decoration: none;
}

/*AI 진단 AiDiagnosis*/
/*자가진단 SelfDiagnosis*/
/*진단이력관리 HisDiagnosis*/
/*병해충 도감 DpList*/
/*농약 및 방제 정보 FumigatorPesticides*/
#fpMainBox .userButton{
    height: 72px;
}
#fpMainBox .userButton > h2{
    margin-top: 13%;
}

/*농약 정보 Pesticides*/
/*농약정보 상세 PesticidesDetail*/
/*방제 정보 Fumigator*/
/*내정보 확인하기*/