#userBody{
    width: 100vw;
    height: 100vh;
    display: inline-block;
    border-radius: 0px;
}
#userMainBox{
    width: fit-content;
    margin: auto;
    padding-top: 86px;
}
#userLeftBox, #userRightBox{
    position: relative;
    width: 393px;
    height: 852px;
    float: left;
    overflow: hidden;
}

.smallLogo{
    width: 134px;
    height: 30px;
    border-radius: 0px;
}

.bigLogo{
    width: 223px;
    height: 50px;
    border-radius: 0px;
}

/*메뉴박스 */
#userLeftBox{
    display: block;
    border: 1px solid rgba(248, 248, 248, 1);
    padding: 13% 8%;
    background-image: url(../assets/farmerFit.png);
    background-position: 5% bottom;
    background-size: 183px;
    background-repeat: no-repeat;
}
.bgArrowImg{
    width: 100%;
    height: 22px;
    margin-bottom: 9px;
    color: #333;
}
.bgArrowImg > button{
    width: 100%;
    height: 22px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    background-color: transparent;
}

.bgArrowImg > button:hover{
    font-weight: 700;
    font-size: 22px;
    color: #333;
    background-color: transparent;
}

.bgArrowImgHover{
    background-image: url("../assets/right_arrow_black.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 13px auto;
}

.togle{
    padding-left: 8% ;
}

#userBtnNav{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}


/*스크롤바 컨트롤*/

#dlConBoxResult, #hdConBox, #pestConBoxResult {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    scrollbar-gutter : stable both-edges;
}

#hdConBox::-webkit-scrollbar, #dlConBoxResult::-webkit-scrollbar, #pestConBoxResult::-webkit-scrollbar{/*스크롤 디자인 수정*/
    width: 15px;
}
#hdConBox::-webkit-scrollbar-thumb, #dlConBoxResult::-webkit-scrollbar-thumb, #pestConBoxResult::-webkit-scrollbar-thumb{/*스크롤 디자인 수정*/
    background-color: rgba(217, 217, 217, 1);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
}
#hdConBox::-webkit-scrollbar-track, #dlConBoxResult::-webkit-scrollbar-track, #pestConBoxResult::-webkit-scrollbar-track{/*스크롤 디자인 수정*/
    background-color: rgba(217, 217, 217, 0);
    border-radius: 10px;
}

/*버튼 컨트롤*/

.userButton, .userButtonDiv{
    width: 268px;
    height: 100px;
    background-color: rgba(76, 126, 65, 1);
    margin-bottom: 20px;
}

#fpMainBox .userButton, #sdMainBox .userButton, #adConBox .userButton, .userButtonDiv{
    height: 72px;
}

.fumButton, #dlConBoxSearch button,#pestSerch button, #cpConBox button, #myConBox button, #logoutButton, #raConBox button{
    width: 90px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    color: #999;
}
#dlConBoxSearch button:hover,#pestSerch button:hover, #logoutButton:hover, #raConBox button{
    border: 1px solid rgba(153, 153, 153, 1);
    color: #555;
}

#logoutButton, #sdConBox .userButton{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

/*컨텐츠박스*/
#userRightBox{
    background-color: rgba(248, 248, 248, 1);
    /* background-image: url('../assets/test_icon.png');
    background-repeat: no-repeat;
    background-position: center 97%; */
}

#cpMainBox, #diMainBox, #fpMainBox, #sdMainBox, #pestMainBox, #hdMainBox, #adMainBox, #dlMainBox, #diMainBox ,#myMainBox, #fumMainBox, #raMainBox{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top:80px;
    text-align: center;
}
#cpMainBox, #sdMainBox, #pestMainBox, #hdMainBox, #adMainBox, #dlMainBox, #myMainBox, #fumMainBox, #diMainBox, #raMainBox{
    padding-top:30px;
}
#cpConBox, #raConBox, #sdConBox, #hdConBox, #pestContentBox, #dlConBox, #myConBox, #fumConBox, #diConBox, #adConBox{
    position: relative;
    width: 80%;
    height: 80%;
    margin-top: 20%;
    margin: 10% auto 10% auto;
}

/*병해충 진단 Diagnosis*/


.diTitle{
    margin-bottom: 20%;
}


.diTitle > p{
    font-size: 20px;
    margin-top: 13px;
}

.userButton:last-child{
    margin-bottom: 0px;
}
.userButton:hover{
    background-color: rgba(76, 126, 65, 1);
    box-shadow: 10%;
}
.userButton h2, .userButtonDiv h2{
    font-weight: 700;
    color: white;
    box-sizing: content-box;
    margin-bottom: 0px;
}
.userButton p{
    margin-top: 10%;
    font-weight: 500;
    color: white;
}
.userButton .active{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    text-decoration: none;
}

/*AI 진단 AiDiagnosis*/

.adConBox{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.adConBox form{
    margin-top: 20px;
}

.adConBox .userButton:not(:last-of-type){
    margin-top: 5%;
}
.adConBox ul{
    width: 100%;
    height: 15%;
}
.adResult{
    margin: 5% 0;
    background-image: url('../assets/right_arrow_black.png');
    background-repeat: no-repeat;
    background-position: 95% center;
}
.adResult > span{
    font-size: 18px;
    color: #555;
    margin-right: 30%;
}
.adResult:hover > span{
    font-weight: 700;
}

#adFileUp{
    display: none;
}
label:hover, #dlConBoxResult .dlConBox{
    cursor: pointer;
}
.userButtonDiv{
    margin-left: auto;
    margin-right: auto;
    line-height: 72px;
}


/*자가진단 SelfDiagnosis*/


#sdMainBox li{
    text-align: left;
}
#sdMainBox ul li > p{
    font-size: 20px;
}
#sdMainBox ul li > p > span{
    font-size: 12px;
}
#sdMainBox li > select{
    width: 100%;
    height: 40px;
    padding-left: 5%;
    margin: 5% 0 12% 0;
}

/*진단이력관리 HisDiagnosis*/
#hdConBox{
    width: 90%;
}
.hdConBox{
    position: relative;
    width: 100%;
    height: 95px;
    padding: 12px 23px;
    margin: 0 auto;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 15px;
}
.hdConBox:hover{
    border: 1px solid #f1f1f1;
}
.hdConBox span{
    font-size: 12px;
}
.hdConBox p:not(:first-of-type){
    font-size: 16px;
    text-align: left;
}
.hdName{
    display: block;
    height: 50px;
    text-align: left;
    margin-top: 3px;
}
.hdName > p{
    padding-top: 5px;
}
.hdConBox img{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 0px;
    margin-right: 15px;
}
.hdTitle{
    display: inline-block;
    width: 73px;
    height: 19px;
    background-color: rgba(76, 126, 65, 1) ;
    color: #fff;
    line-height: 19px;
}
.hdDate{
    margin-left: 45%;
}
.hdDetail{
    position: absolute;
    bottom: 15%;
    right: 6%;
}
/*병해충 도감 DpList*/
#dlConBox{
    height: 80%;
}

#dlConBoxResult{
    height: 90%;
}
#dlConBoxSearch, #pestSerch{
    display: inline-block;
    width: 100%;
}
#dlConBoxSearch > select, #dlConBoxSearch > input, #dlConBoxSearch button{
    float: left;
}
#dlConBoxSearch input, #raConBox input{
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #ededed;
    border-radius: 0px;
    background-color: transparent;
}
#pestSerch input{
    width: 220px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #ededed;
    border-radius: 0px;
    background-color: transparent;
    margin-top: 5%;
}

#dlConBoxResult, #pestConBoxResult{
    background-color: #fff;
    margin-top: 22px;
}
.dlConBox{
    width: 100%;
    height: 135px;
    margin: 0 auto;
    padding: 20px 0px;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
    border-radius: 0px;
}
.dlConBox:last-child, .pestResult:last-child{
    border-bottom: none;
}
.dlConTitle{
    width: 170px;
    padding: 10px 0;
    text-align: left;
}
.dlConTitle p{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 12px;
}
.dlConTitle p span:last-child{
    display: block;
    text-align: center;
    width: 90px;
    height:28px;
    border: 1px solid #f1f1f1;
    float: right;
    margin-right: 2%;
}
.dlConTitle h3{
    float: left;
}
.dlConImg{
    width: 100px;
    height: 95px;
    float: right;
    background-color: #f1f1f1;
}
.dlConImg img{
    width: 100%;
    height: auto;
}
/*병해충 도감 상세*/
#diConBox{
    display: inline-block;
    background-color: #fff;
}

#diConBox > div > p:first-child{
    display: block;
    width:137px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border: 1px solid #f1f1f1;
    margin: 20px auto;
}
#diConBox > div > h2{
    margin-bottom: 0;
}
#diConBox > div > p:nth-child(3){
    font-size: 10px;
    font-weight: 300;
    margin: 10px 0;
}

#diConBox img{
    width: 90%;
    height: 184px;
}
#diConBox > div > div{
    width: 250px;
    margin: 30px auto;
}
#diConBox > div > div > p{
    text-align: left;
    font-size: 10px;
    font-weight: 300;
}

.tab_menu{
    position:relative;
}
.tab_menu .list{
    overflow:hidden;
}
.tab_menu .list li{
    float:left; 
    margin-right:5px;
}
.tab_menu .list li:first-child{
    margin-left:10px;
}
.tab_menu .list li:last-child{
    margin-right:0px;
}
.tab_menu .list .btn{
    display: block;
    width: 95px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(209, 209, 209, 1);
    border: 1px solid #f1f1f1;
    font-size:14px;
    text-decoration: none;
    color:#f1f1f1;
}
.tab_menu .list .btn:hover{
    background-color: rgba(153, 153, 153, 1);
}
.tab_menu .list li.is_on .btn{
    background-color: rgba(76, 126, 65, 1);
}
#tab1{
    padding: 0 20px;
}
#tab2 > p{
    width: 70%;
    margin: 10px auto;
    font-size: 16px;
    font-weight: 500;
}
#tab2 > p > span{
    float: right;
    font-size: 14px;
    font-weight: 300;
}
#tab3 > p{
    width: 90%;
    font-size: 12px;
    margin: 5% auto;
}
#tab3 > p > span{
    display: inline-block;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-right: 15%;
}
#tab3 > p:nth-child(1) > span{
    background-color: rgba(250, 184, 43, 1);
}
#tab3 > p:nth-child(2) > span{
    background-color: rgba(76, 126, 65, 1);
}
.tab_menu .cont_area .cont{
    position:absolute; 
    top:40px; 
    left:50%;
    transform: translate(-50%); 
    text-align:left; 
    width:90%; 
    height:130px; 
    font-size: 12px;
    font-weight: 300;
    line-height: 160%;
    overflow-y: scroll;
}

/*농약 및 방제 정보 FumigatorPesticides*/


/*농약 정보 Pesticides*/
#pestContentBox{
    height: 80%;
}
#pestSerch, .pestResult{
    text-align: left;
}
.pestResult{
    padding-top: 30px;
}
.pestResult img{
    width: 7px;
    margin: 0 2%;
}
.pestResult h2{
    text-align: left;
    margin-top: 16px;
    margin-bottom: 30px;
}
.pestResult h2>span{
    font-size: 16px;
    float: right;
    margin-top: 3%;
}
/*농약정보 상세 PesticidesDetail*/
/*방제 정보 Fumigator*/
#fumConBox{
    height: 80%;
    margin-top: 0;
    background-color: #fff;
    padding-top: 20px;
}
.fumConBox{
    width: 90%;
    height: 90%;
    margin-top: 30px;
    padding: 20px;
    margin: 0 auto;
}
.fumConBox select{
    width: 100%;
    text-align: center;
}
.fumConBox li{
    margin: 5% 0;
}
.fumBtnTogle{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10%;
    text-align: left;
    background-image: url('../assets/down_arrow_wite.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    cursor: pointer;
}
.fumBtnTogle:focus{
    background-image: url('../assets/down_arrow_wite.png');
    background-repeat: no-repeat;
    background-position: 90% center;
}
.fumConBox > ul > li:nth-child(1) .fumBtnTogle {
    background-color: rgba(209, 31, 31, 1);
}

.fumConBox > ul > li:nth-child(2) .fumBtnTogle {
    background-color: rgba(250, 184, 43, 1);
}

.fumConBox > ul > li:nth-child(3) .fumBtnTogle {
    background-color: rgba(76, 126, 65, 1);
}

.fumList {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
.fumList.open {
 max-height: 500px; /* 충분히 큰 값으로 설정 */
}
.fumList > li{
    text-align: left;
    padding-left: 10%;
}
.fumList > li > p{
    font-size: 14px;
    padding-top: 5px;
}
.fumList > li > p:last-child{
    font-size: 18px;
}
.fumList > li > p > img{
    width: 7px;
}

/*내정보 확인하기*/
#myConBox{
    height: 80%;
    background-color: #fff;
    padding: 40px;
    text-align: left;
}
#myConBox h3{
    text-align: left;
    margin-top: 10px;
}
#myConBox ul, #cpConBox ul{
    margin-top: 40px;
}
#myConBox li, .pestResult div, #cpConBox li{
    border-bottom: 1px solid #ededed;
    padding-top: 30px;
    padding-bottom: 2px;
    border-radius: 0px;
}
#myConBox li:first-child, .pestResult div{
    padding-top: 0;
}
#myConBox li>p>button, .fumButton{
    float: right;
}
#myConBox li>p>span{
    font-size: 10px;
    font-weight: 300;
}
#myConBox li>p:last-child{
    font-weight: 300;
    color: #555;
    margin-top: 5px;
}
#myConBox button:nth-child(4){
    display: block; 
    width: 100%;
    background-color: rgba(76, 126, 65, 1);
    color: #fff;
    margin-bottom: 10px;
}
#myConBox button:nth-child(5){
    width: initial;
    padding: 0 6%;
}
#myConBox button:nth-child(6){
    float: right;
}

/*사용자 권한 요청 페이지 RequestAuth*/
#raConBox, #cpConBox{
    height: fit-content;
    padding: 10% 0;
    background-color: #fff;
}
#raConBox button{
    margin-top: 5%;
    width: fit-content;
    padding: 0px 5%;
}
#raConBox input{
    width: 80%;
}
/*회원정보 수정 페이지 ChangeProfile*/

#cpConBox ul{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
}
#cpConBox li{
    padding-bottom: 30px; 
}
#cpConBox p{
    text-align: left;
}
#cpConBox p>span{
    display: inline-block;
    width: 70px;
    border: #333;
}
#cpConBox input{
    width: 70%;
    border: none;
    border-bottom: 1px solid #ededed;
    border-radius: 0px;
    padding-left: 2%;
}
